<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mh.mock.mapper.MockServiceConfigMapper">
    <resultMap id="BaseResultMap" type="com.mh.mock.domain.MockServiceConfig">
        <id column="id" property="id"/>
        <result column="service_name" property="serviceName"/>
        <result column="config_options" property="configOptions"/>
        <result column="forward_url" property="forwardUrl"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, service_name, config_options, forward_url, remark
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mock_server.mock_service_config
        <where>
            <if test="criteria.serviceName != null">
                and service_name = #{criteria.serviceName}
            </if>
        </where>
        order by id desc
    </select>
</mapper>